<ion-header>
  <ion-navbar>
    <ion-title>
      Bus Time
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <ion-item  *ngFor="let info of bus" id="busList" [ngStyle]="{'height': '100px' }">
           <h1 id="busName"> {{busToTrack}} </h1>
           <ion-icon name="timer"></ion-icon>
           <span id="busArrival" icon>{{info.duration.text}}</span><br>
           <ion-icon name="locate"></ion-icon>
           <span id="busAddress">{{info.end_address}}</span>
  </ion-item>
</ion-content>
